---
export interface Props {
  title: string
  prefix?: string
  suffix?: string
}

const { title, prefix, suffix } = Astro.props as Props
const result = prefix ? ` ${prefix} - ${title}` : suffix ? `${title} - ${suffix}` : title
---

<title>{result}</title>
<meta property="og:title" content={result} />
<meta name="twitter:title" content={result} />
